In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [5]:
df=pd.read_csv("/home/piai/바탕화면/2. Big Data 분석/이커머스.csv")
df.head()

,Unnamed: 0,invoice,product_code,product_name,quantity,date,unit_price,customer_id,sales,city,state,pop_thousand,land_sq_meter,pop_size,city_type,city_lctn,stock_type,QuantityCanceled,real_quantity,real_sales
0,0,539993,22386,JUMBO BAG PINK POLKADOT,10,2021-01-04,1.95,E13313,19.50,Honolulu,HI,339,156,small,sightseeing,other,consignment,0,10,19.50
1,1,560915,22386,JUMBO BAG PINK POLKADOT,10,2021-07-21,2.08,E13313,20.80,Honolulu,HI,339,156,small,sightseeing,other,consignment,0,10,20.80
2,2,545602,22386,JUMBO BAG PINK POLKADOT,1,2021-03-04,1.95,E17315,1.95,New York,NY,8177,778,big,metro,east,consignment,0,1,1.95
3,3,548150,22386,JUMBO BAG PINK POLKADOT,1,2021-03-29,1.95,E17315,1.95,New York,NY,8177,778,big,metro,east,consignment,0,1,1.95
4,4,554090,22386,JUMBO BAG PINK POLKADOT,2,2021-05-22,2.08,E17315,4.16,New York,NY,8177,778,big,metro,east,consignment,0,2,4.16

In [6]:
df.shape

(276787, 20)

In [8]:
df.isnull().sum()

Unnamed: 0          0
invoice             0
product_code        0
product_name        0
quantity            0
date                0
unit_price          0
customer_id         0
sales               0
city                0
state               0
pop_thousand        0
land_sq_meter       0
pop_size            0
city_type           0
city_lctn           0
stock_type          0
QuantityCanceled    0
real_quantity       0
real_sales          0
dtype: int64